
.primary-gif-container{
    margin-left: 5%;
}

.display-button{
    margin-left: 5%
}

h1{
    margin-left: 5%;
}

.btn{
	font-size: 18px;
	background-color:white;
    color: blue;
    border: solid;
}

.btn:hover{
    color:lightblue;
    border:dotted;
}
